    <section id="advantages" class="section-padded" th:fragment="content" data-aos="fade-up" data-aos-duration="1000">
        <div class="advantages-container">
            <h1>Почему клиенты выбирают нас?</h1>
            <h2>Мы не просто поставляем оборудование. Мы гарантируем результат и прозрачность на всех этапах.</h2>
                <div class="advantages-grid">
                    <div class="advantages-card">
                        <h3>100% Собственное производство</h3>
                        <p>Мы изготавливаем все устройства без посредников. Это гарантия лучшей цены и полного контроля качества на всех этапах.</p>
                    </div>
                    <div class="advantages-card">
                        <h3>Соблюдение сроков по договору</h3>
                        <p>Вы получаете оборудование точно в указанные сроки. Мы ценим ваше время и исключаем задержки производства.</p>
                    </div>
                    <div class="advantages-card">
                        <h3>Полный пакет документации</h3>
                        <p>Предоставляем габаритные чертежи, 3D-модели и техническую документацию для быстрой интеграции в ваше производство.</p>
                    </div>
                    <div class="advantages-card">
                        <h3>Реальная гарантия и сервис</h3>
                        <p>Мы выполняем все гарантийные обязательства. Наша техника ремонтопригодна, запчасти всегда в наличии.</p>
                    </div>
                </div>
        </div>
    </section>