    <section id="chain" class="section-padded" th:fragment="content" data-aos="fade-up" data-aos-duration="1000">
        <div class="chain-container">
            <h1>Почему наша работа прозрачна...</h1>
            <div class="chain-grid">
                <div class="chain-card">
                    <h3>Обсуждение тех. задания</h3>
                    <p>Определение потребности покупателя</p>
                </div>
                <div class="chain-card">
                    <h3>Рекомендация инженера</h3>
                    <p>Предложения, приводящие к общему знаменателю</p>
                </div>
                <div class="chain-card">
                    <h3>Оформление заявки</h3>
                    <p>Счет и договор</p>
                </div>
                <div class="chain-card">
                    <h3>Оплата</h3>
                    <p>Форма и варианты оплаты</p>
                </div>
                <div class="chain-card">
                    <h3>Создание 3D модели</h3>
                    <p>Визуализация общего вида устройства</p>
                </div>
                <div class="chain-card">
                    <h3>Согласование</h3>
                    <p>Утверждение проекта перед изготовлением</p>
                </div>
                <div class="chain-card">
                    <h3>Снабжение</h3>
                    <p>Приобретение комплектующих и материалов</p>
                </div>
                <div class="chain-card">
                    <h3>Производственный процесс</h3>
                    <p>Изготовление конструкции и механо-обработка</p>
                </div>
                <div class="chain-card">
                    <h3>Покраска</h3>
                    <p>Полимеризация порошковой краски</p>
                </div>
                <div class="chain-card">
                    <h3>Сборка</h3>
                    <p>Подключение и испытание</p>
                </div>
                <div class="chain-card">
                    <h3>Уведомление о готовности</h3>
                    <p>Фото и видео отчет</p>
                </div>
                <div class="chain-card">
                    <h3>Отгрузка</h3>
                    <p>Упаковка с пакетом документов</p>
                </div>
            </div>
        </div>
    <section>
