<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer-fragment">
    <link rel="stylesheet" th:href="@{/styles/base.css}" />
    <div class="footer-meta">
        <p>&copy; 2025 All rights reserved</p>
    </div>
    <div class="social-links">
        <a href="https://vk.ru/mxc21" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/images/icons/vk.png}" alt="VKontakte" /></a>
        <a href="https://rutube.ru/channel/8765459/?ysclid=mjpspwtcgr626327927" target="_blank"
            rel="noopener noreferrer">
            <img th:src="@{/images/icons/rutube.png}" alt="Rutube" /></a>
        <a href="https://t.me/mxcstal21" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/images/icons/telegram.png}" alt="Telegram" /></a>
    </div>
    <div class="footer-policy">
        <p><a href="/privacy-policy.html" class="policy-link">Политика конфиденциальности</a></p>
    </div>
</footer>
</body>
</html>