<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <section id="home" class="section-padded" th:fragment="content" data-aos="fade-up" data-aos-duration="1000">
        <div class="left-section">
            <div class="home-text">
                <h1>МХС — стандарт надежности в вашем производстве</h1>
                <h2>Профессиональные решения для тех, кому важен результат.</h2>
                <h2>Минимум обслуживания — максимум производительности.</h2>
            </div>
        </div>
        <div class="right-section">
            <video autoplay muted loop playsinline id="bg-video">
                <source th:src="@{/video/narezka.mp4}" type="video/mp4">
                Ваш браузер устаревшей версии и не поддерживает видеофон
            </video>
        </div>
    </section>
</body>

</html>