<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <!-- ГЛАВНЫЙ ФРАГМЕНТ, который будет загружаться в <main id="app-content"> -->
    <section id="portfolio" class="catalog-section" th:fragment="content" data-aos="fade-up" data-aos-duration="1000">
        <h1>Каталог машин</h1>
        <div class="dissolvers">
            <h2>Диссольверы</h2>
            <p>Машина, предназначенная для полуавтоматического смешивания, гомогенизации и измельчения жидкостей, суспензий, 
                эмульсий в деже/ёмкости объемом до 1500л с возможностью регулировки частоты вращения вала</p>
                <ul>
                    <li>комплектуются мини-электроталью с стальным тросом</li>
                    <li>различаются конструкцией, в зависимости от мощности силового агрегата (электродвигателя)</li>
                    <li>полнотелый вал из нержавеющей стали, стабилизатор - разнесенные корпусные подшипниковые узлы</li>
                    <li>упор и фиксация ёмкости разрабатывается в индивидуальном порядке согласно геометрическим параметрам</li>
                    <li>исполнение может быть взрывозащищенное - привод фрезы, привод подъема, концевые выключатели оснащаются шкафом управления,
                        в котором расположен частотный преобразователь, органы управления машиной на лицевой панели</li>
                </ul>
                <h3>Ёмкости изготавливаем после окончательного согласования конструкции или по вашему ТЗ</h3>
                <a href="/dissolvers">Посмотреть модели</a>
        </div>
        <div class="tm">
            <h2>Тихоходные мешалки</h2>
            <p>Служат для получения однородной массы из различных компонентов с помощью перемешивающих устройств
                (пропеллерные, турбинные, лопастные, фрезерные, рамные, якорные, шнековые, спиральные, ленточные) производятся различные смеси,
                суспензии, дисперсии, эмульсии</p>
                <ul>
                    <li>комплектуются мини-электроталью с стальным тросом</li>
                    <li>различаются конструкцией, в зависимости от мощности силового агрегата (электродвигателя)</li>
                    <li>полнотелый вал из нержавеющей стали, стабилизатор - разнесенные корпусные подшипниковые узлы</li>
                    <li>упор и фиксация ёмкости разрабатывается в индивидуальном порядке согласно геометрическим параметрам</li>
                    <li>исполнение может быть взрывозащищенное - привод фрезы, привод подъема, концевые выключатели оснащаются шкафом управления,
                        в котором расположен частотный преобразователь, органы управления машиной на лицевой панели</li>
                </ul>
                <h3>Ёмкости изготавливаем после окончательного согласования конструкции или по вашему ТЗ</h3>
                <a href="/tm">Посмотреть модели</a>
        </div>
        <div class="rsm">
            <h2>Реактор с мешалкой</h2>
            <p>Основным назначением является создание контролируемой среды, в которой реактивы равномерно перемешиваются и поддерживаются при 
                постоянной температуре. Применяемость - проведение хим.реакций, приготовление эмульсий и суспензий, наблюдение за протеканием реакции</p>
                <ul>
                    <li>крышка плоская или торосферическая</li>
                    <li>цилиндр реактора с наружной рубашкой нагрева или охлаждения</li>
                    <li>дно конусное, плоское, наклонное, торосферическое, эллиптическое</li>
                    <li>реактор на опорах, на опорах с съемной площадкой, стационарная площадка</li>
                    <li>сосуды работающие под избыточном давлении (мобильный или стационарный)</li>
                </ul>
                <a href="/rsm">Посмотреть модели</a>
        </div>
        <div class="sgb">
            <h2>Смеситель Галтовочный барабан</h2>
            <p>Предназначен для очистки поверхностей небольших заготовок и деталей от заусенцев, окалин, формовочной земли, коррозии. 
                Применяется на производствах - литейной металлообработки, лазерной/плазменной резки, тяжёлом машиностроении</p>
                <ul>
                    <p>Комплектуются из:</p>
                    <li>опорная конструкция смесителя</li>
                    <li>шестигранный барабан с люком загрузки/выгрузки</li>
                    <li>силовым агрегатом (мотор-редуктор), в зависимости от нагрузки</li>
                    <li>кулачковая муфта с втулками тапербуш и эластичным элементом "Звездочка", рассчитанная на КМ силового агрегата</li>
                    <li>оснащаются шкафом управления, в котором расположен частотный преобразователь, органы управления машиной на лицевой панели</li>
                </ul>
                <h3>По запросу изготовим большего объема, цилиндрической формы, тележку с ситом, барабан с футеровкой</h3>
                <a href="/sgb">Посмотреть модели</a>
        </div>
        <div class="stpb">
            <h2>Смеситель типа Пьяная бочка</h2>
            <p>Предназначен для качественного смешения сыпучих, твеpдыx, порошкообразных составов (структура составов остаётся неизменной). 
                Позволяет сократить время смешения продукта, а также добиться высококачественных составов, компонентов</p>
                <ul>
                    <p>Комплектуются из:</p>
                    <li>опорная конструкция смесителя</li>
                    <li>силовым агрегатом (мотор-редуктор), в зависимости от нагрузки</li>
                    <li>стальная кассета пластмассовой ёмкости с устройством фиксации и полнотелым валом</li>
                    <li>опора вала - разнесенные корпусные подшипниковые узлы, позволяющие увеличить срок службы редуктора</li>
                    <li>оснащаются шкафом управления, в котором расположен частотный преобразователь, органы управления машиной на лицевой панели</li>
                </ul>
                <h3>По запросу изготовим ёмкость из стали обыкновенного качества или нержавеющей стали</h3>
                <a href="/stpb">Посмотреть модели</a>
        </div>
        <div class="sspl">
            <h2>Сварочный стол пластмассовых листов</h2>
            <p>Пневматическая машина с полуавтоматическим управлением сварочным процессом, предназначенная для контактно-стыковой сварки 2-х 
                горизонтальных ПП, ПЭ, ПВХ, ПВДФ листов, а также плит из прочих термопластов толщиной 5 – 20 мм и шириной до 4000 мм</p>
                <ul>
                    <p>Разновидности исполнения сварочной машины:</p>
                    <li>устройство сворачивания листа</li>
                    <li>ход стола - пневматический, электрический</li>
                    <li>рабочая зона стола 1000, 1500, 2000, 2500, 3000, 3500, 4000 мм</li>
                    <li>количество прижимных пневматических цилиндров в зависимости от толщины материала</li>
                    <li>подъем ножа (нагревательного элемента) в рабочую зону - ручное, пневматическое, электрическое стандартное управление - переключатель вкл/выкл нагрева, ручное/ножное управление пневматическими цилиндрами</li>
                </ul>
                <h3>По запросу изготовим ёмкость из стали обыкновенного качества или нержавеющей стали</h3>
                <a href="/sspl">Посмотреть модели</a>
        </div>
    </section>
</body>

</html>