<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div th:fragment="content">
    <div id="contact" class="section-padded" data-aos="fade-up" data-aos-duration="1000">
        <section>
            <h3>Время работы</h3>
            <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>День недели</th>
                        <th>Часы работы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Понедельник-Пятница</td>
                        <td>08:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>Суббота</td>
                        <td>08:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>Воскресенье</td>
                        <td>08:00 - 17:00</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <h3>Наши контактные данные</h3>
            <div class="address">
                <p>Мы рады возможности пообщаться и ответить на все ваши вопросы. Свяжитесь с нами любым удобным способом!</p>
                <address>
                    <ul>
                        <li><strong>Телефон:</strong> <a href="tel:+79379477757">+7(937)947-77-57</a></li>
                        <li><strong>Email:</strong> <a href="mailto:mxcstal.21@mail.ru">mxcstal.21@mail.ru</a></li>
                        <li><strong>Адрес:</strong> Россия, г. Новочебоксарск, ул. Промышленная, 36</li>
                        <li><strong>Местоположение:</strong> <a href="https://yandex.ru/maps/37133/novocheboksarsk/house/promyshlennaya_ulitsa_36/YE4YcwVgTUMCQFtsfX1zcnlnZw==/?ll=47.520433%2C56.123385&z=16.95">Яндекс.Карты</a></li>
                    </ul>
                </address>
            </div>
        </section>
        <section>
            <h3>Форма обратной связи</h3>
            <p>Если у вас есть вопросы, заполните, пожалуйста, форму ниже, и мы свяжемся с вами в ближайшее время:</p>

            <!-- Отправку формы обрабатываем через JavaScript/AJAX, чтобы страница не перезагружалась после отправки! -->
            <form th:action="@{/contact-submit}" method="post" class="section-padded-response">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required autocomplete="name">

                <label for="city">Город:</label>
                <input type="text" id="city" name="city" required autocomplete="address-level2">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required autocomplete="email">

                <label for="message">Сообщение:</label>
                <textarea id="message" name="message" required autocomplete="off"></textarea>

                <div class="privacy-policy">
                    <input type="checkbox" id="privacy-check" required>
                    <label for="privacy-check">
                        Я согласен на <a href="/privacy-policy" target="_blank">обработку персональных данных</a>
                    </label>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </section>
    </div>
        <div th:replace="~{fragments/footer :: footer-fragment}"></div>
    </div>
</body>

</html>