<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${index}"></title>
    <link rel="canonical" href="https://mxc21.ru" />
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/base.css}" />
    <link rel="stylesheet" th:href="@{/styles/home.css}" />
    <link rel="stylesheet" th:href="@{/styles/advantages.css}" />
    <link rel="stylesheet" th:href="@{/styles/chain.css}" />
    <link rel="stylesheet" th:href="@{/styles/reviews.css}" />
    <link rel="stylesheet" th:href="@{/styles/contact.css}" />
    <link rel="stylesheet" th:href="@{/styles/media.css}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "mxc21",
        "url": "https://mxc21.ru",
        "description": "Механизированные системы - МХС: автоматизация, инженерия, профессиональные решения.",
        "keywords": "Механизированные системы, МХС, автоматизация, инженерные системы Чебоксары, купить, диссольвер, миксер, галтовочный барабан, пьяная бочка, резервуар, резервуар с мешалкой, гомогенизатор, эмульгатор, реактор с мешалкой, мешалка, перемешивающие устройства, устройства, смешивание, смешивающие устройства, купить с доставкой, доставка, Россия, Чебоксары, город, по всей России",
        "author": {
            "@type": "Person",
            "name": "Бахромджон",
            "jobTitle": "Fullstack java developer",
            "url": "https://github.com/juraev-cj/mxc-website"
        },
        "copyrightHolder": {
            "@type": "Person",
            "name": "Бахромджон"
        },
        "copyrightYear": "2026"
        }
    </script>
</head>

<body>
    <header class="site-header">
        <div class="logo">
            <!-- Добавил класс 'nav-link' и атрибут 'data-path' для JS -->
            <a href="/" class="nav-link" data-path="/"><img th:src="@{/images/logo.png}"alt="МХС - Механизированные системы" /></a>
        </div>
        <!-- Кнопка-гамбургер  -->
        <button class="hamburger-toggle" id="hamburger-toggle" aria-label="Открыть меню">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="main-nav" id="mainMenu">
            <ul>
                <!-- Добавляем классы 'nav-link' и атрибуты 'data-path' -->
                <li><a href="/portfolio">Портфолио</a></li>
                <li><a href="/contact">Связь</a></li>
            </ul>
        </nav>
    </header>
    <!-- КОНЕЦ БЛОКА ШАПКИ -->

    <!-- ГЛАВНЫЙ КОНТЕЙНЕР ДЛЯ ДИНАМИЧЕСКОГО КОНТЕНТА -->
    <!-- Контент главной страницы теперь будет загружаться сюда JS-ом -->
    <main id="app-content">
        <p>Загрузка контента...</p>
    </main>

    <!-- Существующие скрипты -->
    <script th:src="@{/scripts/main.js}"></script>
    <!-- Новый скрипт для SPA-маршрутизации -->
    <script th:src="@{/scripts/router.js}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            // Параметры конфигурации по умолчанию
            disable: false, // Отключить AOS на определенных устройствах (напр. 'mobile')
            startEvent: 'DOMContentLoaded', // Событие, инициирующее AOS
            initClassName: 'aos-init', // Класс, применяемый при инициализации
            animatedClassName: 'aos-animate', // Класс, применяемый во время анимации
            useClassNames: false,
            disableMutationObserver: false,
            debounceDelay: 50,
            throttleDelay: 99,

            // Настройки для каждого отдельного элемента
            offset: 120, // Смещение (в px) от верхней границы экрана, когда элемент должен начать анимироваться
            delay: 0, // Задержка анимации
            duration: 400, // Длительность анимации (от 0 до 3000ms)
            easing: 'ease', // Тип анимации (easing)
            once: false, // Анимировать только один раз при прокрутке вниз? (true/false)
            mirror: false, // Повторять анимацию при обратной прокрутке вверх?
            anchorPlacement: 'top-bottom', // Позиция якоря на экране
        });
    </script>
    <script>
        // Блокировка правой кнопки мыши
        document.addEventListener('contextmenu', event => event.preventDefault());

        // Блокировка горячих клавиш (Ctrl+C, Ctrl+U, Ctrl+S, F12)
        document.addEventListener('keydown', function(e) {
            if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 85 || e.keyCode === 83 || e.keyCode === 73)) {
                return false;
            }
            if (e.keyCode === 123) { // F12
                return false;
            }
        });
    </script>
</body>

</html>