/* Глобальные настройки и сбросы */
* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    border: 1px solid rgb(36, 128, 76);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4f598;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    flex: 1;
    display: flex;
    min-width: 320px; /* СТОПОР ДЛЯ КОНСОЛИ */
    overflow-wrap: break-word; /* Современный стандарт для разрыва длинных слов */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.site-header, footer {
    flex-grow: 0; 
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
    border-top: 1px solid rgb(36, 128, 76);
    border-bottom: 2px solid rgb(36, 128, 76);
    padding: 0.5rem 2rem;
}

/* Элементы навигации и лого */
.logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.main-nav ul li a {
    text-align: center;
    color: rgb(36, 128, 76);
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    position: relative;
    transition: color 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}

.main-nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #b18d3f; /* Ваш золотистый цвет */
    transition: width 0.3s ease;
}

.main-nav li a:hover {
    color: #b18d3f; /* Текст тоже меняет цвет */
    background-color: transparent; /* Убираем старую заливку */
}

.main-nav li a:hover::after {
    width: 100%; /* Линия плавно растягивается */
}


/* Гамбургер-меню */
.hamburger-toggle {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 21px;
    position: relative;
    z-index: 100;
}

.hamburger-toggle .bar {
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: rgb(36, 128, 76);
    transition: 0.25s;
}

/* Футер */
footer {
    border-top: 2px solid rgb(36, 128, 76);
    border-bottom: 1px solid rgb(36, 128, 76);
    background-color: white; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Элементы футера */
.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.social-links a {
    height: 100%;
    text-decoration: none;
}

.footer-meta {
    display: flex; 
    align-items: center;
    color: #000000;
    text-align: left; 
    margin-left: 2rem;
}

.footer-policy {
    margin-right: 2rem;
}

.footer-policy a.policy-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-policy a.policy-link:hover {
    text-decoration: underline;
}
