/* Элементы навигации и лого */
.logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.main-nav ul li a {
    margin: 0;
    max-width: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.main-nav li a:hover {
    background-color: #b18d3f;
}

/* Гамбургер-меню */
.hamburger-toggle {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 21px;
    position: relative;
    z-index: 100;
}

.hamburger-toggle .bar {
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: #333;
    transition: 0.4s;
}
/* Текстовые блоки в секции Home */
#home .home-text h1, .home-text h2 {
    text-align: left;
    width: auto;
    margin-left: 2rem;
}

#home .home-text h1 {
    font-size: 3rem;
    color: rgb(36, 128, 76);
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 0.9;
}

#home .home-text h2 {
    font-size: 2rem;
    color: #5c5c5c;
    line-height: 1.2;
}

/* Видео */
.right-section #bg-video {
    width: 500px;
    height: 490px;
    border-radius: 20px;
    margin-right: 2rem;    
}

/* Абзацы */
.section-padded p {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 2.5rem;
    text-indent: 2rem;
    line-height: 1.5;
    padding: 0 10px;
}

/* Элементы футера */
.social-links {
    display: flex; 
    gap: 15px; 
}

.footer-meta {
    display: flex; 
    align-items: center;
    color: #000000;
    text-align: left; 
    margin-left: 2rem;
}

.footer-policy {
    margin-right: 2rem;
}

.footer-policy a.policy-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-policy a.policy-link:hover {
    text-decoration: underline;
}
