
/* Текстовые блоки в секции Home */
#home .home-text h1, .home-text h2 {
    text-align: left;
    width: auto;
    margin-left: 2rem;
}

#home .home-text h1 {
    font-size: 4rem;
    color: rgb(36, 128, 76);
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 1;
    text-align: left;
}

#home .home-text h2 {
    font-size: 2.5rem;
    color: #5c5c5c;
    line-height: 1.2;
    text-align: left;
}

/* Видео */
.right-section #bg-video {
    width: 500px;
    height: 490px;
    border-radius: 20px;
    margin-right: 2rem;    
}

/* Абзацы */
.section-padded p {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 2.5rem;
    text-indent: 2rem;
    line-height: 1.5;
    padding: 0 10px;
}
