/* Каркас сайта */
main#app-content {
    flex-grow: 1; /* Растягивается на всё свободное место */
}

/* Секции */
#home.section-padded {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 7rem 0rem 2rem 0rem;
    hyphens: auto; /* Автоматические переносы (нужен атрибут lang="ru" у html) */
}
/* Структура секции Home */
#home .left-section {
    width: 50%;
    flex: 1;
    min-width: 0;
}

#home .right-section {
    width: 50%;
    display: flex;
    justify-content: right;
}
