/* Глобальные настройки и сбросы */
* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px; /* СТОПОР ДЛЯ КОНСОЛИ */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
